* {
    padding: 0;
    margin: 0;
}

.page-index,
.page-about,
.page-news,
.page-platform,
.page-product,
.page-solution,
.page-product_decisionengine,
.page-product_smartscore {
    display: none;
}

body.index .page-index,
body.about .page-about,
body.news .page-news,
body.platform .page-platform,
body.product .page-product,
body.solution .page-solution,
body.product_decisionengine .page-product_decisionengine,
body.product_smartscore .page-product_smartscore {
    display: block;
}


body {
    font-size: 12px;
    font-family: HelveticaNeue-Medium;
}
.color-primary {
    color: #fcd000;
}
.text-white {
    color: #fff;
}
a, a:focus, a:hover {
    color: #333;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vertical-middle {
    vertical-align: middle;
}
.full-width {
    width: 100%;
}

.no-padding {
    padding: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-margin-left {
    margin-left: 0 !important;
}
.no-margin-right {
    margin-right: 0 !important;
}

.btn-primary, .btn-default {
    background-color: #fcd000;
    border-color: #fcd000;
}
/* 首页 */
section {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.navbar {
    background-color: #000;
    color: #fff;
}
.navbar a {
    color: #fff;
}
.navbar-brand {
    padding: 0 15px;
    margin-right: 30px;
}
.navbar-brand img {
    height: 42px;
    position: relative;
    top: 4px;
}
.nav-justified > li {
    line-height: 30px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
.navbar li.active {
    border-bottom: solid 2px #fcd000;
}
.navbar li.active a {
    color: #fcd000;
}
.jumbotron {
    background-color: transparent;
    height: 400px;
}
.jumbotron p {
    font-size: 12px;
}
.swiper-container {
    height: 480px;
}
.swiper-slide {
    color: #fff;
    background-image: url('/image/banner_home.png');
    background-size: cover;
}
.swiper-bullet {
    width: 24px;
    height: 3px;
    display: inline-block;
    background: #fff;
    opacity: 0.5;
}
.swiper-bullet-active {
    opacity: 1;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-bullet {
    margin: 0 4px;
}
.dl-container {
    height: 60px;
    padding: 10px 0;
    margin-bottom: 100px;
    background-color: #383a36;
    color: #fff;
    background-image: url('/image/homerbanner_foot.png');
    .title {
        margin-bottom: 5px;
        font-size: 22px;
        font-weight: normal;
    }
    small {
        opacity: 0.7;
    }
}
.dl-ul >li {
    margin: 0 50px;
}
.section-sonct {
    margin-top: 50px;
    height: 480px;
}
.science-art-ct {
    padding: 30px 0;
    li {
        margin-bottom: 30px;
    }
    .science-li {
        width: 240px;
        height: 96px;
        padding: 3px;
        border-radius: 2px;
        &:hover {
            border: none;
            cursor: pointer;
            background-image: url('/image/science_selected.png');
        }
        .flex {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            border: solid 1px #ffcb79;
            .li-left {
                margin: 0 15px;
            }
            .heading {
                font-size: 16px;
                margin-top: 0;
            }
        }
    }
    .science-banner-ct {
        position: relative;
        height: 100%;
        .science-banner {
            width: 100%;
            border: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.media-object {
    width: 40px;
}

.solution-ct {
    height: 480px;
    color: #fff;
    padding: 30px 0;
    background-color: #000;
    background-image: url('/image/banner_solution.png');
    background-size: 100%;
}
.solution-ct-left .li-flex {
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.47);
    .media-object {
        display: none;
    }
    .media-object.active {
        display: block;
    }
    &.active {
        background-color: transparent;
        background-image: url('/image/solution_selected.png');
        background-size: 100%;
        transform: scale(1.03) translateX(4px);
        color: #333;
        .media-object {
            display: block;
        }
        .media-object.active {
            display: none;
        }
    }
    .li-left {
        margin: 0 15px;
    }
}
.solution-ct-right {
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    padding: 30px;
    display: none;
    &.active {
        display: block;
    }
    .bank-img-ct {
        margin-bottom: 30px;
    }
    .bank-img {
        background: #FFFFFF;
        box-shadow: 0 0 4px 2px rgba(201,201,201,0.50);
        border-radius: 2px;
    }
    img {
        height: 50px;
    }
}
.btn-detail {
    width: 110px;
    height: 27px;
    display: inline-block;
    padding: 4px 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-image: url('/image/btn_detail.png');
}
.partner-ct {
    height: 400px;
    position: relative;
    .statistical-ct{
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        > div {
            margin-bottom: 30px;
        }
        .statist-sonct{
            width: 170px;
            height: 145px;
            margin: 0 auto;
            color: #fff;
            text-align: center;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-size: cover;
            &.bigfinancial {
                background-image: url('/image/bigfinancial.png');
            }
            &.smallloans {
                background-image: url('/image/smallloans.png');
            }
            &.logistics {
                background-image: url('/image/logistics.png');
            }
        }
    }
}
.partner-img-ct {
    width: 100%;
    height: 100%;
    background-image: url('/image/partners.png');
    background-size: cover;
}
.trial-entry-ct {
    height: 80px;
    background-image: url('/image/banner_trial.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.trial-link {
    border: solid 1px #fff;
    padding: 5px 8px;
    border-radius: 2px;
    margin-left: 15px;
}
@media screen and (max-width: 768px) {
    .swiper-container h2 {
        font-size: 20px;
    }
    .dl-ul > li {
        margin: 0;
    }
    .dl-container .title {
        font-size: 18px;
    }
    .science-art-ct {
        padding: 0;
        .science-banner-ct, .science-banner img {
            height: 334px;
        }
    }
    .science-li {
        margin: 5px 0px 5px 90px;
    }
    .section-sonct {
        width: 100%;
        margin: 0 auto;
        height: auto;
        min-height: 480px;
        ul.list-unstyled {
            li {
                display: inline-block;
            }
        }
    }
    .solution-ct {
        height: auto;
        .section-sonct {
            margin-top: 20px;
            .col-md-4 {
                padding-right: 0;
            }
        }
        .solution-ct-right {
            height: auto;
        }
        ul.list-unstyled.solution-ct-left {
            width: 100%;
            li {
                width: 100%;
                margin: 0;
            }
            .li-flex {
                flex-direction: column;
                justify-content: space-evenly;
                &.active {
                    background-image: none;
                    background-color: #fcd000;
                    transform: scale(1.0);
                }
            }
        }
    }
    .partner-ct {
        height: auto;
        .partner-img-ct {
            background-size: 100%;
        }
    }
    .footer-container {
        .footer-content-ct {
            ul.list-unstyled li:not(.title){
                display: inline-block;
                margin: 8px;
            }
        }
        span.copyright {
            margin-top: 10px;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
    .science-li {
        margin: 5px 0px 5px 50px;
    }
}
.product-container {
    section {
        padding: 50px 0;
    }
    .jumbotron {
        color: #fff;
        height: 330px;
        background-image: url('/image/banner_score.png');
    }
}
/* smartscore */
.section-feature {
    background-color: #f7f8fa;
}
.score-type-li {
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    background-color: #f8f5d4;
    border-radius: 0 30px 30px 0;
    background-image: url('/image/scoretype_banner.png');
    .type-title {
        display: inline-block;
        width: 200px;
        text-align: center;
    }
    .type-desc {
        padding-left: 30px;
    }
}
.score-feature-ct {
    margin-top: 40px;
    h3{
        margin-bottom: 30px;
    }
}
.feature-description {
    margin-bottom: 30px;
    > div{
        height: 150px;
        padding: 20px 30px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(212,210,210,0.50);
        border-radius: 2px;
    }
    h5 {
        color: #000;
        img {
            margin-right: 10px;
        }
    }
}
.product-feature-imgct img {
    width: 100%;
}
.score-advantage-ct, .engine-advantage-ct  {
    background-image: url('/image/socreadvantage_banner.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
// .engine-advantage-ct {
//     background-image: url('/image/engineadvantage_banner.png');
//     background-position: bottom;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
.product-advantage-ct {
    color: #fff;
    section{
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
    .advantage-li {
        width: 100%;
        max-width: 830px;
        margin: 0 auto;
        height: 85px;
        line-height: 85px;
        text-align: left;
        margin-bottom: 30px;
        border-radius: 2px;
        font-size: 12px;
        background-image: url('/image/advatange-tag_banner.png');
        .li-left {
            display: inline-block;
            width: 184px;
            height: 100%;
            text-align: center;
            img {
                height: 40px;
                margin-right: 15px;
            }
        }
        .li-right {
            padding-left: 20px;
            font-size: 12px;
        }
    }
}
.score-application-ct .thumbnail, 
.engine-application-ct .thumbnail {
    position: relative;
    border: none;
    img{
        width: 286px;
        height: 256px;
        margin: 0;
    }
    .caption {
        position: relative;
        height: 90px;
    }
    .caption-title{
        position: absolute;
        bottom: 90px;
        left: 15px;
        font-size: 16px;
        color: #fff;
        font-weight: normal;
    }
}
.product-case-imgct {
    margin-bottom: 30px;
}
.product-case-ct {
    background-color: #f6f7f9;
    .case-li {
        text-align: center;
        margin-bottom: 40px;
        .small{
            height: 24px;
            line-height: 24px;
            label {
                display: inline-block;
                width: 36px;
                margin-bottom: 0;
            }
            span {
                display: inline-block;
                width: 40px;
                text-align: left;
                &.long {
                    width: 60px;
                }
            }
        }
        .img-block {
            width: 181px;
            height: 115px;
            color: #fff;
            padding: 5px 0;
            background-image: url('/image/case_banner.png');
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .title {
                font-size: 16px;
                font-weight: normal;
            }
            p {
                margin-top: 10px;
            }
        }
        .descend-bar {
            width: 38px;
            height: 10px;
            opacity: 0.8;
            margin-right: 20px;
            display: inline-block;
            background-image: linear-gradient(270deg, #FFEA98 0%, #FCD000 89%);
            border-radius: 6px;
        }
        .rise-bar {
            width: 58px;
            height: 10px;
            display: inline-block;
            opacity: 0.8;
            background-image: linear-gradient(270deg, #FFEA98 0%, #FCD000 89%);
            border-radius: 6px;
        }
    }

}

/* smartengine */
.smart-engine-container {
    .jumbotron {
        background-image: url('/image/smartengine_banner.png');
    }
}


/* footer */
.footer-container {
    padding: 30px 0 15px;
    background-color: #232429;
    color: #ddd;
    .footer-content-ct , .copyright-ct{
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    li {
        font-size: 12px;
        margin-bottom: 5px;
        &.title {
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }
    .friend-links-title {
        margin-top: 20px;
    }
    .friend-links >li{
        margin: 5px 10px 5px 0;
    }
}