* {
    padding: 0;
    margin: 0;
}

.page-index,
.page-about,
.page-news,
.page-platform,
.page-product,
.page-solution {
    display: none;
}

body.index .page-index,
body.about .page-about,
body.news .page-news,
body.platform .page-platform,
body.product .page-product,
body.solution .page-solution {
    display: block;
}
