<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= require("@/header.tpl.html") %>
    <div class="page">
        <%= require("pages/index.tpl.html") %>
        <%= require("pages/about/about.tpl.html") %>
        <%= require("pages/news/news.tpl.html") %>
        <%= require("pages/platform/platform.tpl.html") %>
        <%= require("pages/product/product.tpl.html") %>
        <%= require("pages/solution/solution.tpl.html") %>
    </div>
    <%= require("@/footer.tpl.html") %>
</body>
</html>
