<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= require("@/header.ejs")() %>
    <div class="page">
        <%= require("pages/index.ejs")() %>
        <%= require("pages/about/about.ejs")() %>
        <%= require("pages/news/news.ejs")() %>
        <%= require("pages/platform/platform.ejs")() %>
        <%= require("pages/product/product.ejs")() %>
        <%= require("pages/solution/solution.ejs")() %>
    </div>
    <%= require("@/footer.ejs")() %>
</body>
</html>
